@using HealthFit.Object_Provider.Model
@model User?
@if (Model?.UserId > 0 && (Model?.UserId == 1 || Model?.UserId == 2))
{
    <div id="login-details" style="text-align:right">
        <p>Welcome @Model.FullName <br> <a href="/Index">Home </a> | <a href="/Publishers/JournalList">My Jouranls</a> | <a href="/Login?logout=1">Logout</a></p>
    </div>
}
else
{
    <div id="login-details" style="text-align:right">
        <p>Welcome Guest <br> <a href="/Index">Home </a> | <a href="/Login">Login </a> | <a href="/signup">Signup</a></p>
    </div>
}
