@page
@model LoginMenuModel
@{
} <div id="login-details">

    @try
    {
        if (Model != null && @Model?.LoggedInUser?.UserId > 0)
        {
            <p>Welcome @Model.LoggedInUser.FullName &nbsp; <a href="/Index" id="user">Home </a> &nbsp; | <a href="/Login" id="user">Login </a> &nbsp| <a href="/signup" id="user">Signup</a> .</p>
        }
        else
        {
            <p><a href="/Index" id="user">Home </a> &nbsp; | <a href="/Login" id="user">Login </a> &nbsp| <a href="/signup" id="user">Signup</a> .</p>
        }
    }
    catch
    {
        <p><a href="/Index" id="user">Home </a> &nbsp; | <a href="/Login" id="user">Login </a> &nbsp| <a href="/signup" id="user">Signup</a> .</p>
    }


</div>
