@page
@model ProductWidgetViewModel
@{
}
<div class="product">
    <a href="#" class="info">
        <span class="holder">
            <img src="images/image01.jpg" alt="" />
            <span class="book-name">Book Name</span>
            <span class="author">by John Smith</span>
            <span class="description">Maecenas vehicula ante eu enim pharetra<br />scelerisque dignissim <br />sollicitudin nisi</span>
        </span>
    </a>
    <a href="#" class="buy-btn">SUBSCRIBE<span class="price"><span class="low">$</span>22<span class="high">00</span></span></a>
</div>
