@page
@model AddJournalModel
@{
    Layout = "../Layouts/_Form_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <h2 class="login_box">New Journal</h2>
        <table >
            <tr>
                <td style="max-width:50%;vertical-align: top;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="JournalVM.Title"></label>
                        <input asp-for="JournalVM.Title" />
                        <span asp-validation-for="JournalVM.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JournalVM.ISSN"></label>
                        <input asp-for="JournalVM.ISSN" />
                        <span asp-validation-for="JournalVM.ISSN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JournalVM.PublicationStartYear"></label>
                        <input asp-for="JournalVM.PublicationStartYear" />
                        <span asp-validation-for="JournalVM.PublicationStartYear" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JournalVM.Price"></label>
                        <input asp-for="JournalVM.Price" />
                        <span asp-validation-for="JournalVM.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JournalVM.SubjectArea"></label>
                        <input asp-for="JournalVM.SubjectArea" />
                        <span asp-validation-for="JournalVM.SubjectArea" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JournalVM.Website"></label>
                        <input asp-for="JournalVM.Website" />
                        <span asp-validation-for="JournalVM.Website" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JournalVM.IndexingInformation"></label>
                        <input asp-for="JournalVM.IndexingInformation" />
                        <span asp-validation-for="JournalVM.IndexingInformation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JournalVM.CitationMetrics"></label>
                        <input asp-for="JournalVM.CitationMetrics" />
                        <span asp-validation-for="JournalVM.CitationMetrics" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JournalVM.Rating"></label>
                        <input asp-for="JournalVM.Rating" />
                        <span asp-validation-for="JournalVM.Rating" class="text-danger"></span>
                    </div>

                </td>
                <td style="max-width:50%;vertical-align: top;">
                    <div class="form-group">
                        <label asp-for="JournalVM.Description"></label>
                        <input asp-for="JournalVM.Description" />
                        <span asp-validation-for="JournalVM.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JournalVM.Category"></label>
                        <input asp-for="JournalVM.Category" />
                        <span asp-validation-for="JournalVM.Category" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JournalVM.PublicationFrequency"></label>
                        <input asp-for="JournalVM.PublicationFrequency" />
                        <span asp-validation-for="JournalVM.PublicationFrequency" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JournalVM.ImpactFactor"></label>
                        <input asp-for="JournalVM.ImpactFactor" />
                        <span asp-validation-for="JournalVM.ImpactFactor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JournalVM.EditorialBoard"></label>
                        <input asp-for="JournalVM.EditorialBoard" />
                        <span asp-validation-for="JournalVM.EditorialBoard" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JournalVM.Format"></label>
                        <input asp-for="JournalVM.Format" />
                        <span asp-validation-for="JournalVM.Format" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JournalVM.SubmissionGuidelines"></label>
                        <input asp-for="JournalVM.SubmissionGuidelines" />
                        <span asp-validation-for="JournalVM.SubmissionGuidelines" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JournalVM.JournalPdfPath"></label>
                        <input asp-for="JournalVM.JournalPdfPath" />
                        <span asp-validation-for="JournalVM.JournalPdfPath" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JournalVM.JournalCoverPhotoPath"></label>
                        <input asp-for="JournalVM.JournalCoverPhotoPath" />
                        <span asp-validation-for="JournalVM.JournalCoverPhotoPath" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <button type="submit" class="green" name="submit" formmethod="post">Save</button> <button id="btnClancel" type="button" class="cancel" onclick="location.href ='JournalList'">Cancel</button>
                    </div>
                </td>
                <td>
                </td>
            </tr>
        </table>
        @if (!string.IsNullOrWhiteSpace(Model.responseMessage))
        {
            <div class="message @Model.responseCode">
                <span class="icon"></span>
                <span class="text">@Model.responseMessage</span>
            </div>
            <script>
                $(document).ready(function () {
                    setTimeout(function () { $("#btnClancel").click(); }, 2000);
                });
            </script>
        }
        <input type="hidden" asp-for="JournalVM.JournalID" />
        <input type="hidden" asp-for="JournalVM.PublisherID" />
    </div>
}
