@page
@using HealthFit.Utilities;
@model JournalListModel
@{
    Layout = "../Layouts/_Form_Layout.cshtml";
}
<div class="container">
    @if (Model.LoggedInUser.UserType == (byte)Object_Provider.Enum.UserType.Publisher)
    {
        <button class="add-button" style="float:right" onclick="location.href ='AddJournal'">New Journal</button>
    }
    <h2 class="login_box">Journal Lists</h2>
    <table id="data-table">
        <thead>
            <tr>
                <th colspan="2" style="vertical-align:central">Jouranl Details <input id="txtSearch" type="text" placeholder="Search" style="border: solid 1px lightgray;padding: 5px;width: 25%;float: right;" /></th>
            </tr>
        </thead>
        <tbody id="journallistListForSearch">
            @foreach (var journal in Model.JournalCollections)
            {
                <tr class="product">
                    <td>
                        <bold>Title :</bold> @journal.Title , <bold>Price : </bold>$@journal.Price<br />
                        <bold>ISSN : </bold>@journal.ISSN <br />
                        <bold>Description :</bold>@journal.Description
                    </td>
                    @if (Model.LoggedInUser.UserType == (byte)Object_Provider.Enum.UserType.Publisher)
                    {
                        <td style="width:70px"><img asp-append-version="true" src="../images/View.png" alt="View" width="20" style="cursor:pointer" onclick="location.href = 'ViewJournalDetails?journalId=@EncryptionHelper.EncryptString(journal.JournalID.ToString())'">&nbsp;<img asp-append-version="true" src="../images/Edit.png" alt="Edit" width="20" style="cursor:pointer" onclick="location.href = 'AddJournal?id=@EncryptionHelper.EncryptString(journal.JournalID.ToString())'">&nbsp;<img asp-append-version="true" src="../images/Delete.png" alt="Delete" width="20" style="cursor:pointer" onclick="DeleteJournal(@EncryptionHelper.EncryptString(journal.JournalID.ToString()))"></td>
                    }
                    else if (Model.LoggedInUser.UserType == (byte)Object_Provider.Enum.UserType.PublicUser)
                    {
                        <td style="width:70px"><img asp-append-version="true" src="../images/View.png" alt="View" width="20" style="cursor:pointer" onclick="location.href = 'ViewJournalDetails?journalId=@EncryptionHelper.EncryptString(journal.JournalID.ToString())'"></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $("#txtSearch").keyup(function () {
                var txt = $('#txtSearch').val();
                $("#journallistListForSearch").find(".product").each(function () {
                    if ($(this).text().toUpperCase().indexOf(txt.toUpperCase()) != -1) {
                        $(this).closest("tr").show();
                    } else
                        $(this).closest("tr").hide();
                });
            });
        });
    </script>
</div>
<div class="col-lg-1" style="display:none">
    <form method="post">
        <button type="submit" class="btn btn-default" id="btnDelete">Delete</button>
        <input type="hidden" id="hdnJournalIdToDelete" name="JournalIdToDelete" value="0" />
    </form>
    <Script>
        function DeleteJournal(id) {
            if (confirm("Do you really want to delete the journal ?")) {
                $('#hdnJournalIdToDelete').val(id);
                $("#btnDelete").click();
            }
        }
    </Script>
</div>
