@page
@model JournalListModel
@{
    Layout = "../Layouts/_Form_Layout.cshtml";
}
<div class="container">
    <button class="add-button" style="float:right" onclick="location.href ='AddJournal'">New Journal</button>
    <h2 class="login_box">Journal Lists</h2>

    <table id="data-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>ISSN</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var journal in Model.JournalCollections)
            {
                <tr>
                    <td>@journal.Title</td>
                    <td>@journal.ISSN</td>
                    <td>@journal.Description</td>
                    <td>$@journal.Price </td>
                    <td style="width:50px"><img src="../images/Edit.png" alt="Edit" width="20" style="cursor:pointer" onclick="location.href = 'AddJournal?id=@journal.JournalID'">&nbsp;<img src="../images/Delete.png" alt="Delete" width="20" style="cursor:pointer" onclick="DeleteJournal(@journal.JournalID)"></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-lg-1" style="display:none">
    <form asp-page-handler="delete" method="post">
        <button class="btn btn-default" id="btnDelete">Delete</button>
        <input type="hidden" id="hdnJournalIdToDelete" name="JournalIdToDelete" value="0" />
    </form>
    <Script>
        function DeleteJournal(id) {
            if (confirm("Do you really want to delete the journal ?")) {
                $('#hdnJournalIdToDelete').val(id);
                $("#btnDelete").click();
            }
        }
    </Script>
</div>
