<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HealthFit</title>
    <environment include="Development">
        <script src="~/js/jquery-1.6.2.min.js"></script>
        <link href="~/css/style.css" rel="stylesheet" />
        <link href="~/css/portal.css" rel="stylesheet" />
        <script src="~/js/site.js"></script>
        <script src="~/js/functions.js"></script>
        <script src="~/js/jquery.jcarousel.min.js"></script>
        <script src="~/js/png-fix.js"></script>
    </environment>
</head>
<body>
    <!-- Header -->
    <div id="header" class="shell" style="padding-bottom: 30px;">
        <div id="logo"><h1><a href="#">HelathFit</a></h1><span><a href="#">By Varian</a></span></div>
        <div class="cl">&nbsp;</div>
        <!-- Login-details -->
        @await Html.PartialAsync("../Partial Views/_Login_Menu_Partial.cshtml",model: null)
        <!-- End Login-details -->
    </div>
    <!-- End Header -->
    <!-- Main -->
    <div id="main" class="shell" style="border-top: solid 5px lightblue;padding-top: 1% !important;">
        @RenderBody()
    </div>
    <!-- End Main -->
    <!-- Footer -->
    <div id="footer" class="shell">
        <div class="top">
            <div class="cnt">
                <div class="">
                    <p>© <a href="#">HealthFit.com</a>. Design by Varian </p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>

    <!-- End Footer -->
    @RenderSection("Scripts", required: false)
</body>
</html>
