@model Microsoft.AspNetCore.Diagnostics.ExceptionHandlerFeature
<div class="container">
    <h1>Error</h1>
    <p>An error occurred while processing your request.</p>
    <p>@Model.Error.Message</p>
</div>